/* Turn off Default styles */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Dancing+Script:wght@400;500;600&family=Darker+Grotesque:wght@300;400;600&family=Freehand&family=Indie+Flower&family=Lexend+Deca&family=Lobster&family=Lora&family=Nova+Mono&family=Oswald:wght@200;300&family=Overlock+SC&family=Oxygen+Mono&family=Oxygen:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reggae+One&family=Righteous&family=Roboto:wght@100;300;400;500;900&display=swap');
:root{
 --white-bg:#fff;  
 --green-bg:#f00;
 --xs-font:0.4rem; 
 --sm-font:0.8rem;
 --md-font:1rem;
 --lg-font:1.4rem;
 --xl-font:2.5rem;
 --edge-gap:2rem;
 --md-edge-gap:1.5rem;
 --xl-head-font:2.4rem;
 --lg-head-font:1.6rem; 
 --md-head-font:1.4rem;
 --sm-head-font:1rem;
 --xs-head-font:0.8rem;
}
html{
  box-sizing:border-box;  
}
*,*::before,*::after{
box-sizing:inherit;
}
body{
padding:0;
margin:0;
font-family:'Poppins',sans-serif;
background-color:var(--white-bg);
}
ul{
list-style:none;
padding:0;
margin:0;
}
a{
text-decoration:none;
}

/*img{
width:100%;
}*/

h1,h2,h3,h4,h5,p,figure,figcaption,article,dd,dt{
margin:0;
padding:0;
}
h2{
color:var(--green-bg);
}
dt{
border:0px solid rgb(62, 133, 62);
}
dd{
  border:0px solid orange;
  }


