.header-wrapper.reachus-wrapper{
background:url("../images/market-bg-pic.svg") center no-repeat;
background-size:cover;
}

.reachus-panel{
background-color:#F9F9F9;
width:95%;
border-radius:5px;
margin:0 auto;
padding:1rem;
position:absolute;
top:245%;
left:50%;
transform:translate(-50%,-50%);
}
.reachus-breadcrumb{
color:#fff;
display:block;
padding:2.5rem;
font-weight:800;
font-size:2rem;
height:100%;
}
.reachus-line-div{
height:650px;
}
.access .fa{
display:block;
font-size:1.4rem;
padding:0.5rem;
text-align:center;
}
.access-row{
display:block;
padding:1rem;
}
.access{
text-align:center;
margin:0 0 1rem 0;

}
.access:first-child{
text-align:left;
}
.customer-feedback input,.customer-feedback textarea{
text-align:center;
padding:0.6rem;
outline:none;
box-shadow:none;
border:1px solid #000;
border-radius:8px;
background:#ddd;
width:80%;
margin:0.5rem 0 0 0;
}
.customer-feedback textarea{
height:80px;
line-height:50px;
overflow:hidden;
}

.customer-feedback .fa{
display:block;
color:#000;
}
.customer-feedback .chat-btn{
font-size:0.8rem;
background:#7C4B00;
width:40%;
font-weight:600;
color:#fff;
padding:0.3rem;
border-radius:10px;
display:inline-block;
margin-top:0.5rem;
text-align:center;
}





/*for tablet devices*/
@media(min-width:410px){
.reachus-panel{
top:270%;
}
.reachus-line-div{
height:650px;
}
/*.customer-feedback .chat-btn{
width:80%;
}*/

}

/*for desktop devices*/
@media(min-width:810px){
/*.reachus-panel{}
*/
.reachus-panel{
top:170%;
}
.reachus-line-div{
height:230px;
}

.reachus-panel .access + .access{
border-left:2px solid #ddd;
}

.access-row{
display:flex;
flex-flow:row wrap;
justify-content:space-between;
}
.access{
flex-basis:32%;
text-align:center;
}
.customer-feedback .chat-btn{
width:50%;
}
}