
/*.signin-nav-header{
margin-bottom:5rem;
}*/
section.before-panel{
border:1px solid red;
}
.signin-breadcrumb{
color:#fff;
display:block;
font-weight:800;
font-size:1.4rem;
}
.signin-panel{
background-color:#F8F8F8;
border-radius:10px;
margin:0 auto;
padding:2rem; 
border:1px solid yellow;
}
.signin-panel-button{
display:flex;
flex-flow:row wrap;
border-bottom:1px solid #ddd;
margin:0 0 1rem 0;
}
.signin-panel-button .sign-in{
 padding:1rem;
 display:block;
 flex-basis:50%;
 border-radius:10px 0 0 0;
 font-size:85%;
 text-align:center;
 }
 .signin-panel-button .sign-in:first-child{
 border-right:1px solid #ddd ;
 }
.signin-panel-button .sign-in:hover,
.signin-panel-button .sign-in:focus
{
 background:#ddd;
 z-index:3;
 }

.form-field a,p{
font-size:80%;
}
.signin-form-body label{
display:block;
text-align: center;
margin-top:0.5rem;
color:#000;
position:relative;
}
.signin-form-body .icon{
border:1px solid red;
position:absolute;
top:0;
left:24%;
display:inline-block;
padding:0.5rem;
font-size:1rem;
}
.signin-form-body .input{
padding:0.6rem;
outline:none;
width:200px;
border-radius:10px;
box-shadow:none;
border:none;
background:#ddd;
text-indent:2.6rem;
font-size:0.7rem;
font-weight:800;
}
/* .signin-form-body label::before{
content:"\f002";
font-family:"FontAwesome";
color:red;
} */

.signin-form-footer{
color:#000;
text-align:center;
}
.signin-footer-button{
padding:0.4rem 1rem;
background:#BF8C09;
background:radial-gradient(60.96% 233.66% at 19.41% -27.87%, #0F8CFF 0%, #7C3394 51.04%, #4A058A 100%)  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
color:#fff;
border-radius:8px;
border:2px outset #ddd;
font-weight:600;
font-size:0.9rem;
display:block;
text-align:center;
}
a.create-text-action{
display:block;
font-size:68%;
text-align:center;
padding:1rem 0 2rem 0;
}
/*.signin-line-div{
height:100px;
}*/


@media(min-width:310px){
.signin-breadcrumb{
/* margin-left:80px; */
}

}

/* Desktop device */
@media(min-width:810px){
/*.signin-nav-header{
margin-bottom:8rem;
}*/
/*.signin-breadcrumb{
margin-left:23%;
}*/
.signin-form-footer{
color:#000;
display:flex;
justify-content:center;
align-items:center;
gap:14%;
margin-top:1rem;
}
}