
.signup-nav-header{
    margin-bottom:5rem;
    }
    /*section.before-panel{}*/
.signup-breadcrumb{
color:#fff;
display:block;
padding:2.5rem;
text-align:left;
font-weight:800;
margin-left:18%;
font-size:1.4rem;
}
    
   .signup-breadcrumb-line-div{
    height:110px;
    }

    .signup-panel{
    background-color:#F8F8F8;
    width:80%;
    border-radius:10px;
    margin:0 auto;
    position:absolute;
    top:100%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:1;
    height:auto;
    }
    .signup-panel-button{
    display:flex;
    flex-flow:row wrap;
    border-bottom:1px solid #ddd;
    margin:0 0 1rem 0;
    }
    .signup-panel-button .sign-in{
     padding:1rem;
     display:block;
     flex-basis:50%;
     border-radius:10px 0 0 0;
     font-size:85%;
     text-align:center;
     }
     .signup-panel-button .sign-in:first-child{
     border-right:1px solid #ddd ;
     }
    .signup-panel-button .sign-in:hover,
    .signup-panel-button .sign-in:focus
    {
     background:#ddd;
     z-index:3;
     }
    
    .form-field a,p{
    font-size:80%;
    }
    .signup-form-body{
    padding:0 1rem;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    margin:0 0 2rem 0;
    }
    .signup-form-body label{
    font-size:0.7rem;
    margin-top:0.6rem;
    color:#000;
    display:block;
    }
    .signup-form-body .input{
    padding:0.6rem;
    outline:none;
    border-radius:10px;
    box-shadow:none;
    border:none;
    background:#ddd;
    display:block;  
}
    .signup-referral-section{
    color:#000;
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
    margin:2rem 0 0 0;
    margin:0 0 1rem 0;
    }
    .signup-referral-section span{
    height:30px;
    background:#ddd;
    display:inline-block;
    width:30px;
    border-radius:5px;
    }
    .sigin-form-footer{
    color:#000;
    text-align:center;
    margin-top:1rem;
    padding:1.4rem;
    display:block;
    }
    .signup-footer-button{
    padding:0.4rem;
    background: #BF8C09;
    background: radial-gradient(60.96% 233.66% at 19.41% -27.87%, #BF8C09 0%, #DECB1F 51.04%, #7C4B00 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    color:#fff;
    border-radius:5px;
    font-weight:400;
    font-size:0.9rem;
    display:inline-block;
    width:100px;
    text-align:center;
    margin-top:0.7rem;
    }
    a.create-text-action{
    display:block;
    font-size:68%;
    text-align:center;
    padding:1rem 0 2rem 0;
    }
    
    .signup-line-div{
    height:220px;
    }
    
    
    @media(min-width:410px){
    .signup-breadcrumb-line-div{
    height:120px;
    }
    /*section.before-panel{}
*/  .signup-panel{
    width:50%;
    }
    .signup-form-body{
    padding:0 1rem;
    justify-content:space-evenly;
    }
    .signup-form-body label{
    font-size:0.7rem;
    margin-top:0.2rem;
    color:#000;
    flex-basis:22%;
    display:block;
    margin:0.5rem 0;
    }
    .signup-referral-section{
    gap:1rem;
    }
    }
    
    /* Desktop device */
    @media(min-width:810px){
    .signup-nav-header{
    margin-bottom:8rem;
    }
    .signup-breadcrumb-line-div{
    height:24px;
    }
    /*section.before-panel{}*/
    .signup-form-footer{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60%;
    }
    .signup-referral-section{
    gap:8rem;
    }
    .signup-line-div{
    height:120px;
    }
    }