
.signin-main-section{
margin-top:-150px;
}
.signin-breadcrumb{
background:#001029;
color:#fff;
display:inline;
font-weight:600;
font-size:2.5rem;
display:block;
text-align:left;
}
.signin-panel{
background-color:#F8F8F8;
border-radius:10px;
margin:0 auto;
padding:0 0 2rem 0; 
border:1px solid #cecece;
width:90%;
margin:0 auto;
}
.signin-panel-button{
display:flex;
flex-flow:row wrap;
border-bottom:1px solid #ddd;
margin:0 0 1rem 0;
}
.signin-panel-button .sign-in{
 padding:1rem;
 display:block;
 flex-basis:50%;
 border-radius:10px 10px 0 0;
 font-size:1rem;
 font-weight:300;
 text-align:center;
 color:indigo;
 transition:0.5s ease;
 }
/* .signin-panel-button .sign-in:first-child{
 border-right:1px solid #ddd ;
 }*/
.signin-panel-button .sign-in:hover,
.signin-panel-button .sign-in:focus
{
 background:#fff;
 z-index:3;
 color:#383838;
 padding:1.2rem;
 }

.form-field p{
font-size:90%;
}
.signin-form-body label.form-details{
display:block;
text-align:center;
margin-top:0.5rem;
color:#000;
position:relative;
}
.signin-form-body .icon{
position:absolute;
top:50%;
left:65px;
font-size:18px;
transform:translate(-50%,-50%);
color:darkgreen;
}
.signin-form-body .input{
padding:0.6rem;
outline:none;
border-radius:10px;
box-shadow:none;
border:1px solid #ddd;
background:#fff;
text-indent:2.6rem;
font-size:0.8rem;
font-weight:300;
width:80%;
height:100%;
}

.signin-form-footer{
color:#000;
text-align:center;
}
.signin-form-footer p{
margin-top:1.4em;
}
.signin-footer-cta{
background:radial-gradient(60.96% 233.66% at 19.41% -27.87%, #0F8CFF 0%, #7C3394 51.04%, #4A058A 100%);
color:#fff;
width:80px;
display:inline-block;
/*font-size:2rem;*/
text-align:center;
font-weight:400;
padding:0.6rem;
border-radius:5px;
margin:1rem 0 0 0;
}
button.create-text-action{
display:block;
font-size:70%;
text-align:center;
box-shadow:none;
border:none;
margin-top:1rem;
margin:1.2rem auto;
padding:0.6rem;
border-radius:6px;
cursor:pointer;
background:darkgreen;
color:#fff;
}


@media(min-width:380px){
.signin-form-body .icon{
left:75px;
}
.signin-breadcrumb{
text-align:center;
}
}


/* Desktop device */
@media(min-width:650px){
.signin-form-footer{
color:#000;
display:flex;
justify-content:space-around;
align-items:center;
margin-top:1rem;
gap:4%;
}
.signin-panel{
width:50%;
}

}