.whatweinvsetin-wrapper{
background:url("../images/market-bg-pic.svg") no-repeat right;
background-size:cover;
}

.whatweinvestin-contents{
padding:1rem;
font-weight:200;
font-size:var(--lg-font);
text-align:justify;
line-height:1.5;
}
.whatweinvestin-contents section{
padding:0;
}
.fundlux-caption{
font-weight:800;
font-size:24px;
color:#010216;
}
.whatweinvestin-cards .box{
text-align:center;
margin:2rem 0 0 0;
}
/*.whatweinvestin-cards .investcard-imgcontainer{
border:1px solid red;

}*/
.whatweinvestin-cards .investcard-imgcontainer img{
width:100%;
border-radius:5px;
}
.whatweinvestin-cta{
background:radial-gradient(60.96% 233.66% at 19.41% -27.87%, #0F8CFF 0%, #7C3394 51.04%, #4A058A 100%);
color:#fff;
width:100px;
display:inline-block;
font-size:70%;
text-align:center;
font-weight:400;
padding:0.6rem;
border-radius:5px;
margin:1rem 0 0 0;
}


/*media queries for different screen sizes*/
/*for tablet screens*/
@media(min-width:310px){
.whatweinvestin-cards{
display:flex;
flex-flow:row wrap;
gap:4%;
}
.whatweinvestin-cards .box{
flex-basis:48%;
}
}




/*for desktop screens*/
@media(min-width:810px){
.whatweinvestin-cards .box{
flex-basis:30%;
}

}
